<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou100.StudentDao">

    <resultMap id="grade" type="com.zhiyou100.Grade">
        <id property="id" column="grade_id"></id>
        <result property="name" column="grade_name"></result>
    </resultMap>

    <resultMap id="student" type="com.zhiyou100.Student">
        <id property="id" column="student_id"></id>
        <result property="name" column="student_name"></result>
        <!--association表示关联，对应的就是数据库的外键字段-->
        <association property="grade" resultMap="grade"></association>
    </resultMap>
    <select id="findById" resultMap="student">
        select
        l.id student_id,
        l.name student_name,
        r.id grade_id,
        r.name grade_name
        from
        t_student l,t_grade r
        where
        l.cid=r.id and
        l.id=#{id}
    </select>



</mapper>